---
layout: page
title: People
---
<div class="person-container">
    {% for p in site.person %}
    <div class="person-photo-container"><a href="{{ p.url }}">{% if p.photo != null %}<img src="{{ p.photo }}" class="person-photo">{% else %}<img src="https://www.esciencecenter.nl/css/assets/team_default.png" class="empty-person-photo">{% endif %}</a><a href="{{ p.url }}" class="person-link">{{ p.name }}</a></div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script> 
<script src="/js/d3.v3.min.js"></script>

<h2>eStep contributions by eScience Research Engineers</h2>
<div id="network-eb-graph">
<script src="/js/software_person_edge_bundling.js"></script>
<script src="/js/edge_bundling.js"></script>
</div>

<div id="network-fd-graph">
<script src="/js/software_person_force_direction.js"></script>
<script src="/js/force_direction.js"></script>
</div>

