---
layout: page
title: Publications
---

<div class="home">

<h3>
Peer reviewed publications
</h3>

<ul class="publications">
    {% for publication in site.data.publication %}
    <li>
      <a class="citation" href="{{ publication['@id'] }}">{{ publication.bibliography }}</a>
      <div class="published_by">Published by
      {% for project in publication.publishedBy %}
      {% if project contains site.url %}<a href="{{ project | replace: site.url,'' }}">{% capture pname %}{{ project }}{% endcapture %}{% for p in site.project %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains project %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% else %}{{ project }}{% endif %}
      {% unless forloop.last %},{% endunless %}
      </div>
      {% endfor %}
    </li>
    {% endfor %}
</ul>

</div>
