---
layout: default
---

<h1>{{ page.name }}</h1>

{% unless page.name == page.tagLine %}
<h4>{{ page.tagLine }}</h4>
{% endunless %}

{% unless page.logo == null %}
<img src="{{ page.logo }}" class="organization-page-logo"/>
{% endunless %}


<hr/>

<div class="properties">

{% if page.nlescWebsite != null || page.website != null || page.twitterUrl != null || page.linkedInUrl != null || page.githubUrl != null || page.researchgateUrl != null %}
<div class="property">
<h3>Links</h3>
<ul class="link-list">
{% unless page.website == null %}
<li><a href="{{ page.website }}">Website</a></li>
{% endunless %}
{% unless page.nlescWebsite == null %}
<li><a href="{{ page.nlescWebsite }}">NLeSC website</a></li>
{% endunless %}
{% unless page.researchgateUrl == null %}
<li><a href="{{ page.researchgateUrl }}">ResearchGate</a></li>
{% endunless %}
{% unless page.githubUrl == null %}
<li><a href="{{ page.githubUrl }}">GitHub</a></li>
{% endunless %}
{% unless page.twitterUrl == null %}
<li><a href="{{ page.twitterUrl }}">Twitter</a></li>
{% endunless %}
{% unless page.linkedInUrl == null %}
<li><a href="{{ page.linkedInUrl }}">LinkedIn</a></li>
{% endunless %}
</ul>
</div>
{% endif %}

{% capture d %}{{ page.involvedIn }}{% endcapture %}
{% if d != empty %}
<div class="property">
  <h3>Involved in</h3>
  <ul class="involved-in-list">
  {% for d in page.involvedIn %}
  <li>{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.project %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.link[0].url }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% capture d %}{{ page.organizationOf }}{% endcapture %}
{% if d != empty %}
<div class="property">
  <h3>Organization of</h3>
  <ul class="organization-of-list">
  {% for d in page.organizationOf %}
  <li>{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.person %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.link[0].url }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% capture d %}{{ page.ownerOf }}{% endcapture %}
{% if d != empty %}
<div class="property">
  <h3>Owner of</h3>
  <ul class="owner-of-list">
  {% for d in page.ownerOf %}
  <li>{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.software %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.link[0].url }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}


{% capture d %}{{ page.userOf }}{% endcapture %}
{% if d != empty %}
<div class="property">
  <h3>User of</h3>
  <ul class="user-of-list">
  {% for d in page.userOf %}
  <li>{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.software %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.link[0].url }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

</div>

<hr/>

{{ page.content }}
