---
layout: default
---



{% unless page.photo == null %}
<img src="{{ page.photo }}" class="photo"/>
{% endunless %}

<h1>{{ page.name }}</h1>

<h4>{{ page.jobTitle }}</h4>

<hr/>

<div class="properties">
{% if page.nlescWebsite != null || page.website != null || page.twitterUrl != null || page.linkedInUrl != null || page.githubUrl != null || page.researchgateUrl != null %}
<div class="property">
<h3>Links</h3>
<ul class="link-list">
{% unless page.website == null %}
<li><a href="{{ page.website }}">website</a></li>
{% endunless %}
{% unless page.nlescWebsite == null %}
<li><a href="{{ page.nlescWebsite }}">NLeSC website</a></li>
{% endunless %}
{% unless page.researchgateUrl == null %}
<li><a href="{{ page.researchgateUrl }}">ResearchGate</a></li>
{% endunless %}
{% unless page.githubUrl == null %}
<li><a href="{{ page.githubUrl }}">GitHub</a></li>
{% endunless %}
{% unless page.twitterUrl == null %}
<li><a href="{{ page.twitterUrl }}">Twitter</a></li>
{% endunless %}
{% unless page.linkedInUrl == null %}
<li><a href="{{ page.linkedInUrl }}">LinkedIn</a></li>
{% endunless %}
</ul>
</div>
{% endif %}


{% capture d %}{{ page.contactPersonOf }}{% endcapture %}
{% if d != empty %}
<div class="property">
	<h3>Contact person of</h3>
	<ul class="contact-person-of-list">
	{% for d in page.contactPersonOf %}
		<li>{% capture pname %}{% endcapture %}{% if d.name == null %}<a href="{{ d }}">{% for p in site.person %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>{% elsif d.name %}{% if d.githubUrl %}<a href="{{ d.githubUrl }}">{{ d.name }}</a>{% elsif d.linkedInUrl %}<a href="{{ d.linkedInUrl }}">{{ d.name }}</a>{% elsif d.twitterUrl %}<a href="{{ d.twitterUrl }}">{{ d.name }}</a>{% elsif d.website %}<a href="{{ d.website }}">{{ d.name }}</a>{% else %}{{ d.name }}{% endif %}{% else %}{{ d }}{% endif %}</li>
{% endfor %}
	</ul>
</div>
{% endif %}

{% capture d %}{{ page.ownerOf }}{% endcapture %}
{% if d != empty %}
<div class="property">
	<h3>Owner of</h3>
	<ul class="owner-of-list">
	{% for d in page.ownerOf %}
		<li>{% capture pname %}{% endcapture %}{% if d.name == null %}<a href="{{ d }}">{% for p in site.software %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>{% elsif d.name %}{% if d.githubUrl %}<a href="{{ d.githubUrl }}">{{ d.name }}</a>{% elsif d.linkedInUrl %}<a href="{{ d.linkedInUrl }}">{{ d.name }}</a>{% elsif d.twitterUrl %}<a href="{{ d.twitterUrl }}">{{ d.name }}</a>{% elsif d.website %}<a href="{{ d.website }}">{{ d.name }}</a>{% else %}{{ d.name }}{% endif %}{% else %}{{ d }}{% endif %}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}


{% capture d %}{{ page.engineerOf }}{% endcapture %}
{% if d != empty %}
<div class="property">
	<h3>eScience Engineer in</h3>
	<ul class="engineer-of-list">
	{% for d in page.engineerOf %}
	<li>
		{% capture pname %}{% endcapture %}
		{% if d.name == null %}
		<a href="{{ d }}">
			{% for p in site.project %}
				{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
				{% if urlx contains d %}
					{% capture pname %}{{ p.name }}{% endcapture %}
				{% endif %}
			{% endfor %}
			{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>
		{% else %}
			{{ d }}
		{% endif %}
	</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% capture d %}{{ page.contributorOf }}{% endcapture %}
{% if d != empty %}
<div class="property">
	<h3>Contributes to</h3>
	<ul class="contributor-of-list">
	{% for d in page.contributorOf %}
	<li>
		{% capture pname %}{% endcapture %}
		{% if d.name == null %}
		<a href="{{ d }}">
			{% for p in site.software %}
				{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
				{% if urlx contains d %}
					{% capture pname %}{{ p.name }}{% endcapture %}
				{% endif %}
			{% endfor %}
			{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>
		{% else %}
			{{ d }}
		{% endif %}
	</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% capture d %}{{ page.userOf }}{% endcapture %}
{% if d != empty %}
<div class="property">
	<h3>User of</h3>
	<ul class="user-of-list">
	{% for d in page.userOf %}
	<li>
		{% capture pname %}{% endcapture %}
		{% if d.name == null %}
		<a href="{{ d }}">
			{% for p in site.software %}
				{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
				{% if urlx contains d %}
					{% capture pname %}{{ p.name }}{% endcapture %}
				{% endif %}
			{% endfor %}
			{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>
		{% else %}
			{{ d }}
		{% endif %}
	</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
</div>

<hr/>

{{ page.content }}
