---
layout: default
---
<h1>{{ page.name }}</h1>

<h4>{{ page.tagLine }}</h4>

<hr/>

{% unless page.logo == null %}
<img src="{{ page.logo }}" class="logo"/>
{% endunless %}


{% if page.nlescWebsite != null || page.website != null %}
<h3>Links</h3>
<ul class="link-list">
{% unless page.website == null %}
<li><a href="{{ page.website }}">website</a></li>
{% endunless %}
{% unless page.nlescWebsite == null %}
<li><a href="{{ page.nlescWebsite }}">NLeSC website</a></li>
{% endunless %}
</ul>
{% endif %}

{% if page.startDate != null %}
<h3>Start Date</h3>
<div class="start-date">
{{ page.startDate }}
</div>
{% endif %}

{% if page.endDate != null %}
<h3>End Date</h3>
<div class="start-date">
{{ page.endDate }}
</div>
{% endif %}


<h3>Discipline</h3>
<ul class="discipline-list">
{% for d in page.discipline %}
<li><a href="/software#discipline={{ d | cgi_escape }}">{{ d }}</a></li>
{% endfor %}
</ul>

<h3>Competence</h3>
<ul class="competence-list">
{% for d in page.competence %}
<li><a href="/software#competence={{ d | cgi_escape }}">{{ d }}</a></li>
{% endfor %}
</ul>

<h3>Expertise</h3>
<ul class="expertise-list">
{% for d in page.expertise %}
<li><a href="/software#expertise={{ d | cgi_escape }}">{{ d }}</a></li>
{% endfor %}
</ul>

<h3>Data formats used</h3>
<ul class="data-format-list">
{% for d in page.dataFormat %}
<li>{{ d }}</li>
{% endfor %}
</ul>

<h3>Data magnitude</h3>
<ul class="data-magnitude-list">
{% for d in page.dataMagnitude %}
<li>{{ d }}</li>
{% endfor %}
</ul>


<h3>Contact person</h3>
{% capture d %}{{ page.contactPerson }}{% endcapture %}
{% capture pname %}{% endcapture %}
{% if d contains site.url %}
	<a href="{{ d }}">
	{% capture pname %}{{ d }}{% endcapture %}
	{% for p in site.person %}
		{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
		{% if urlx contains d %}
			{% capture pname %}{{ p.name }}{% endcapture %}
		{% endif %}
	{% endfor %}
	{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}
	</a>
{% elsif page.contactPerson.name %}
	{% if page.contactPerson.githubUrl %}
		<a href="{{ page.contactPerson.githubUrl }}">{{ page.contactPerson.name }}</a>
	{% elsif page.contactPerson.linkedInUrl %}
		<a href="{{ page.contactPerson.linkedInUrl }}">{{ page.contactPerson.name }}</a>
	{% elsif page.contactPerson.twitterUrl %}
		<a href="{{ page.contactPerson.twitterUrl }}">{{ page.contactPerson.name }}</a>
	{% elsif page.contactPerson.website %}
		<a href="{{ page.contactPerson.website }}">{{ page.contactPerson.name }}</a>
  {% else %}
     {{ page.contactPerson.name }}
	{% endif %}
{% else %}
	{{ d }}
{% endif %}

{% if page.principalInvestigator != null %}
<h3>Principal investigator</h3>
<ul class="principal-investigator-list">
{% for d in page.principalInvestigator %}
	<li>{% capture pname %}{% endcapture %}{% if d.name == null %}<a href="{{ d }}">{% for p in site.person %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>{% elsif d.name %}{% if d.githubUrl %}<a href="{{ d.githubUrl }}">{{ d.name }}</a>{% elsif d.linkedInUrl %}<a href="{{ d.linkedInUrl }}">{{ d.name }}</a>{% elsif d.twitterUrl %}<a href="{{ d.twitterUrl }}">{{ d.name }}</a>{% elsif d.website %}<a href="{{ d.website }}">{{ d.name }}</a>{% else %}{{ d.name }}{% endif %}{% else %}{{ d }}{% endif %}</li>
{% endfor %}
</ul>
{% endif %}

{% if page.coordinator != null %}
<h3>Project coordinator</h3>
<ul class="coordinator-list">
{% for d in page.coordinator %}
	<li>{% capture pname %}{% endcapture %}{% if d.name == null %}<a href="{{ d }}">{% for p in site.person %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>{% elsif d.name %}{% if d.githubUrl %}<a href="{{ d.githubUrl }}">{{ d.name }}</a>{% elsif d.linkedInUrl %}<a href="{{ d.linkedInUrl }}">{{ d.name }}</a>{% elsif d.twitterUrl %}<a href="{{ d.twitterUrl }}">{{ d.name }}</a>{% elsif d.website %}<a href="{{ d.website }}">{{ d.name }}</a>{% else %}{{ d.name }}{% endif %}{% else %}{{ d }}{% endif %}</li>
{% endfor %}
</ul>
{% endif %}

{% if page.involvedOrganizations != null %}
<h3>Involved organizations</h3>
<ul class="involved-organization-list">
{% for d in page.involvedOrganization %}
	<li>{% capture pname %}{% endcapture %}{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.organization %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.website }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
{% endfor %}
</ul>
{% endif %}

{% if page.uses != null %}
<h3>Uses software</h3>
<ul class="uses-list">
{% for d in page.uses %}
	<li>{% capture pname %}{% endcapture %}{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.software %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{% if pname == "" %}{{ d }}{% else %}{{ pname }}{% endif %}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.website }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
{% endfor %}
</ul>
{% endif %}

<hr/>

<h1>Description</h1>

{{ page.content }}
