---
layout: default
---
<h1>{{ page.name }}</h1>

<hr/>

{% unless page.logo == null %}
<img src="{{ page.logo }}" class="logo"/>
{% endunless %}

{% if page.codeRepository != null || page.nlescWebsite != null || page.website != null || page.documentationUrl != null || page.downloadUrl != null || page.doi != null %}
<h3>Links</h3>
<ul class="link-list">
{% unless page.website == null %}
<li><a href="{{ d.website }}">website</a></li>
{% endunless %}
{% unless page.nlescWebsite == null %}
<li><a href="{{ d.nlescWebsite }}">NLeSC website</a></li>
{% endunless %}
{% unless page.codeRepository == null %}
<li><a href="{{ d.codeRepository }}">Source code</a></li>
{% endunless %}
{% unless page.downloadUrl == null %}
<li><a href="{{ d.downloadUrl }}">Download</a></li>
{% endunless %}
{% unless page.documentationUrl == null %}
<li><a href="{{ d.documentationUrl }}">Documentation</a></li>
{% endunless %}
{% unless page.doi == null %}
<li><a href="{{ d.doi }}">DOI</a></li>
{% endunless %}
</ul>
{% endif %}

<h3>Start Date</h3>
<div class="start-date">
{{ page.startDate }}
</div>

<h3>Status</h3>
<div class="status">
<a href="/software#status={{ page.status | cgi_escape }}">{{ page.status }}</a>
</div>

<h3>Discipline</h3>
<ul class="discipline-list">
{% for d in page.discipline %}
<li><a href="/software#discipline={{ d | cgi_escape }}">{{ d }}</a></li>
{% endfor %}
</ul>

<h3>Competence</h3>
<ul class="competence-list">
{% for d in page.competence %}
<li><a href="/software#competence={{ d | cgi_escape }}">{{ d }}</a></li>
{% endfor %}
</ul>

<h3>Expertise</h3>
<ul class="expertise-list">
{% for d in page.expertise %}
<li><a href="/software#expertise={{ d | cgi_escape }}">{{ d }}</a></li>
{% endfor %}
</ul>

<h3>Programming Language</h3>
<ul class="programming-language-list">
{% for d in page.programmingLanguage %}
<li><a href="/software#programmingLanguage={{ d | cgi_escape }}">{{ d }}</a></li>
{% endfor %}
</ul>

<h3>License</h3>
<ul class="license-list">
{% for d in page.license %}
<li>{{ d }}</li>
{% endfor %}
</ul>

<h3>Tags</h3>
<ul class="technology-tag-list">
{% for d in page.technologyTag %}
<li><a href="/software#technologyTag={{ d | cgi_escape }}">{{ d }}</a></li>
{% endfor %}
</ul>

{% if page.dependency %}
<h3>Dependencies</h3>
<ul class="dependency-list">
{% for d in page.dependency %}
	<li>{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.project %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.link[0].url }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
	{% endfor %}
</ul>
{% endif %}

{% if page.dependencyOf %}
<h3>Dependency of</h3>
<ul class="dependency-of-list">
{% for d in page.dependencyOf %}
	<li>{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.project %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.link[0].url }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
	{% endfor %}
</ul>
{% endif %}

<h3>Contact Person</h3>
{% capture d %}{{ page.contactPerson }}{% endcapture %}
{% if d contains site.url %}
	<a href="{{ d }}">
	{% capture pname %}{{ d }}{% endcapture %}
	{% for p in site.person %}
		{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
		{% if urlx contains d %}
			{% capture pname %}{{ p.name }}{% endcapture %}
		{% endif %}
	{% endfor %}
	{{ pname }}
	</a>
{% elsif page.contactPerson.name %}
	{% if page.contactPerson.githubUrl %}
		<a href="{{ page.contactPerson.githubUrl }}">{{ page.contactPerson.name }}</a>
	{% elsif page.contactPerson.linkedInUrl %}
		<a href="{{ page.contactPerson.linkedInUrl }}">{{ page.contactPerson.name }}</a>
	{% elsif page.contactPerson.twitterUrl %}
		<a href="{{ page.contactPerson.twitterUrl }}">{{ page.contactPerson.name }}</a>
	{% elsif page.contactPerson.website %}
		<a href="{{ page.contactPerson.website }}">{{ page.contactPerson.name }}</a>
  {% else %}
     {{ page.contactPerson.name }}
	{% endif %}
{% else %}
	{{ d }}
{% endif %}

<h3>Owner</h3>
{% capture d %}{{ page.owner.name }}{% endcapture %}
{% if d == empty %}
	<a href="{{ page.owner }}">
	{% capture pname %}{{ page.owner }}{% endcapture %}
	{% for p in site.person %}
		{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
		{% if urlx contains page.owner %}
			{% capture pname %}{{ p.name }}{% endcapture %}
		{% endif %}
	{% endfor %}
	{% for p in site.organization %}
		{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
		{% if urlx contains page.owner %}
			{% capture pname %}{{ p.name }}{% endcapture %}
		{% endif %}
	{% endfor %}
	{{ pname }}
	</a>
{% elsif page.owner.name %}
	{% if page.owner.githubUrl %}
		<a href="{{ page.owner.githubUrl }}">{{ page.owner.name }}</a>
	{% elsif page.owner.linkedInUrl %}
		<a href="{{ page.owner.linkedInUrl }}">{{ page.owner.name }}</a>
	{% elsif page.owner.twitterUrl %}
		<a href="{{ page.owner.twitterUrl }}">{{ page.owner.name }}</a>
	{% elsif page.owner.website %}
		<a href="{{ page.owner.website }}">{{ page.owner.name }}</a>
  {% else %}
     {{ page.owner.name }}
	{% endif %}
{% else %}
	{{ d }}
{% endif %}

<h3>Contributors</h3>
<ul class="contributor-list">
{% for d in page.contributor %}
	<li>{% if d.name == null %}<a href="{{ d }}">{% for p in site.person %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.githubUrl %}<a href="{{ d.githubUrl }}">{{ d.name }}</a>{% elsif d.linkedInUrl %}<a href="{{ d.linkedInUrl }}">{{ d.name }}</a>{% elsif d.twitterUrl %}<a href="{{ d.twitterUrl }}">{{ d.name }}</a>{% elsif d.website %}<a href="{{ d.website }}">{{ d.name }}</a>{% else %}{{ d.name }}{% endif %}{% else %}{{ d }}{% endif %}</li>
{% endfor %}
</ul>

<h3>Involved Organizations</h3>
<ul class="involved-organization-list">
{% for d in page.involvedOrganization %}
	<li>{% if d contains site.url %}<a href="{{ d }}">{% capture pname %}{{ d }}{% endcapture %}{% for p in site.organization %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.link %}<a href="{{ d.website }}">{% endif %}{{ d.name }}{% if d.link %}</a>{% endif %}{% else %}{{ d }}{% endif %}</li>
{% endfor %}
</ul>

<h3>Users</h3>
<ul class="user-list">
{% for d in page.user %}
	<li>{% if d.name == null %}<a href="{{ d }}">{% for p in site.person %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{% for p in site.organization %}{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}{% if urlx contains d %}{% capture pname %}{{ p.name }}{% endcapture %}{% endif %}{% endfor %}{{ pname }}</a>{% elsif d.name %}{% if d.githubUrl %}<a href="{{ d.githubUrl }}">{{ d.name }}</a>{% elsif d.linkedInUrl %}<a href="{{ d.linkedInUrl }}">{{ d.name }}</a>{% elsif d.twitterUrl %}<a href="{{ d.twitterUrl }}">{{ d.name }}</a>{% elsif d.website %}<a href="{{ d.website }}">{{ d.name }}</a>{% else %}{{ d.name }}{% endif %}{% else %}{{ d }}{% endif %}</li>{% endfor %}
</ul>

<h3>Used in Projects</h3>
<ul class="used-in-list">
{% for d in page.usedIn %}
	<li>
		{% if d.name == null %}
		<a href="{{ d }}">
			{% for p in site.project %}
				{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
				{% if urlx contains d %}
					{% capture pname %}{{ p.name }}{% endcapture %}
				{% endif %}
			{% endfor %}
			{% for p in site.organization %}
				{% capture urlx %}{{ p.url | replace:'.html','' | prepend: site.url }}{% endcapture %}
				{% if urlx contains d %}
					{% capture pname %}{{ p.name }}{% endcapture %}
				{% endif %}
			{% endfor %}
			{{ pname }}</a>
		{% else %}
			{{ d.name }}
		{% endif %}
	</li>
{% endfor %}
</ul>

<hr/>

<h1>Description</h1>

{{ page.content }}
